:root {
  --primary: #895b27;
  --hover: #ffd09a;
  --text: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

footer {
  background-color: var(--primary);
  color: var(--text);
  padding: 40px 20px 20px;
}

.fcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--hover);
}

.fwidget {
  flex: 1 1 220px;
}

.footer-logo {
  max-width: 80px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.fwidget h2 {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--text);
}

.fwidget ul {
  list-style: none;
}

.fwidget ul li {
  margin-bottom: 8px;
}

.fwidget ul li a {
  color: var(--text);
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s ease;
}

.fwidget ul li a:hover {
  color: var(--hover);
}

.social-icons a {
  color: var(--text);
  font-size: 12px;
  margin-right: 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--hover);
}


.footer-bottom {
  text-align: center;
  color: var(--text);
  font-size: 12px;
  padding-top: 15px;
}
