:root
{
  --primary: #895b27;
  --hover: #ffd09a;
}
*
{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}
header
{
  position: fixed;
    z-index: 11;
    background-color: white;
    width: 100%;
}
.container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid var(--primary); */
  width: 100%;
  height: 80px;
position: relative;
}
.logo img
{
  width: 25%;
}
.Navigations ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.Navigations ul li
{
  list-style-type: none;
  padding: 10px 15px;
  margin: 0px 3px;
  transition: all 0.4s linear;
  text-transform: uppercase;

}
.Navigations ul li:hover
{
  background-color: var(--hover);
  list-style-type: none;
  padding: 10px 15px;
    margin: 0px 3px;
    border-radius: 5px;
}

.Navigations ul li a
{
  text-decoration: none;
  padding: 0px 0px;
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
}
.Navigations ul li a:hover
{
  color: var(--hover);
}
.Navigations ul li:hover a
{
  color: var(--primary);
  
}

                                            /* MEGA MENU START */
.servicemenu
{
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  z-index: 9999999999;
 
}
.Navigations ul li:hover .servicemenu
{
  opacity: 1;
  visibility: visible;
}
.widget
{
  flex: 0 0 25%;
}
.servicemenu .widget ul
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 15px;
}
.servicemenu .widget h1
{
  font-size: 16px;
  color: white;
  /* text-decoration: underline; */
}
.servicemenu .widget ul li
{
  list-style-type: none;
  padding: 7px 0px;
  margin: 0px 0px;
}
.servicemenu .widget ul li a
{
  font-size: 12px;
  color: white;
  font-weight: normal;
}

.account
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.account i
{
  color: var(--primary);
  
}
.account i:hover
{
    color: var(--hover);
}
.account i.fas.fa-heart
{
  padding: 0px 10px;
}
.btn {
  /* display: inline-block; */
  padding: 10px 20px;
  background-color: var(--primary);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}
.btn:hover
 {
  background-color: var(--hover);
  color: var(--primary);
}
