:root {
  --primarycolor: #bacc5e;
  --secondarycolor: #63902e;
  --smalltext: 12px;
  --heading: 24px;
  --p: 16px;
  --cardheading: 16px;
  --cardpara: 14px;
  --cardprice: 12px;
}

*
{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  overflow-x: hidden;
  box-sizing: border-box;
}

header
{
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 100;
}
.menu, .image, .search
{
  flex: 1;
}
.menu nav ul
{
  display: flex;
  flex-direction: row ;
  justify-content: space-evenly;
  align-items: center;
  
}
.menu li
{
  list-style-type: none;
}

.menu li a
{
  text-decoration: none;
  color: black;
  font-size: var(--smalltext);
}
.menu li a:hover
{
  color: var(--secondarycolor)
}
.image
{
  text-align: center;
}
.image img
{
  width: 50%;
}

.search
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search i 
{
  margin-left: 10px;
  margin-right: 10px;
}
.search button
{
  background-color: var(--primarycolor);
  font-size: var(--smalltext);
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  border: 1px solid var(--primarycolor);
  cursor: pointer;
  color: white;
}
.search button:hover
{
  background-color: var(--secondarycolor);
  
}
.search a
{
  text-decoration: none;
  color: black;
}
.search a:hover
{
  color: var(--secondarycolor)
}
.carosel
{
  position: relative;
  top: 0;
  left: 0;
 width: 100vw;
  height: 100vh;
  z-index: -1;
  
}
.carosel img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  filter: brightness(0.5);
}

.carosel .caroseltext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 72px;
  text-align: center;
  font-weight: 700;
}
.shopbycollection
{
  text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: var(--heading);
    color: var(--secondarycolor);
    
  }
.maincard {
  width: 100%;
  padding: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  
}
.card
{
  position: relative;
  /* width: 100vw; */
  height: 350px;
  
}
.card .cardimage

{
  position: absolute;
  background-color: #63902e;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  top: 0px;
  left: 0px;
  filter: brightness(0.7);

}
.card img
{
  width: 100%;
}
.card .btn
{
  bottom: 30px;
  left: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  
}
.card button
{
  background-color: var(--primarycolor);
    font-size: var(--smalltext);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border: 1px solid var(--primarycolor);
    cursor: pointer;
    color: white;
}
.marque
{
  display: flex;
  background-color: var(--secondarycolor);
  color: white;
  font-size: 30px;
  height: 70px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.salmamain {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  }

.salma {
  flex: 1;
  object-fit: contain;
background-color: var(--primarycolor);
overflow: hidden;
margin-right: 60px;
}

.salma img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  
}

.salmaprod {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
}
.salmaprod h2
{
  font-size: 40px;
  color: var(--secondarycolor);
  
}
.salmaprod p
{
  font-size: var(--p);
  padding: 10px 0px 10px 0px;
}
.salmaprod button
{
  background-color: var(--primarycolor);
    font-size: var(--c);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border: 1px solid var(--primarycolor);
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}
.scards
{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 10px;
  /* height: 290; */
}
.scard
{
  flex: 1;
  /* overflow: hidden; */
  object-fit: cover;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primarycolor);
}
.scard img
{
  width: 100%;
}
.scard .sold
{
  text-align: center;
  background-color: var(--primarycolor);
  color: white;
  font-weight: 700;
  border-radius: 50px;
  margin: 10px;
  
}
.mainjuice
{
  display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: 20px 0px 20px 0px;
    background-color: var(--primarycolor);
}
.juice
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 60px;
}
.juice h2
{
  font-size: 40px;
  color: white
  
}
.juice p
{
  font-size: var(--p);
  padding: 10px 0px 10px 0px;
  color: white;
}
.juice button
{
  background-color: white;
  color: var(--primarycolor);
    font-size: var(--p);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border: 1px solid var(--primarycolor);
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 20px;
}
.picture
{
  flex: 1;
    object-fit: cover;
    /* background-color: #b6cd62; */
    overflow: hidden;
    /* margin-right: 60px; */
}
.picture img
{
  object-fit: cover;
    width: 100%;
    height: 100%;
}
  
.brands img
{
  width: 100%;
}
.shopbycollection button
{
  background-color: var(--primarycolor);
    font-size: var(--heading);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    border: 1px solid var(--primarycolor);
    cursor: pointer;
    color: white;
    margin-top: 30px;
}
.mainlocation
{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.footer {
  background-color: var(--secondarycolor);
  color: white;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.footer-main {
  display: flex;
  flex-direction: row;
  
}

.footer-logo {
  flex: 3;
  width: 150px;
}

.footer-logo img {
  width: 80px;
}

.social-icons i {
  margin: 10px 10px 0 0;
  font-size: 20px;
  cursor: pointer;
}

.footer-columns {
  display: flex;
  gap: 30px;
  
}

.footer-column h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
  cursor: pointer;
  font-size: var(--smalltext);
}

.footer-divider {
  border: 0;
  border-top: 1px solid white;
  margin: 15px 0px 15px 0px ;
}

.copyright {

  font-size: 12px;
  text-align: center;
  color: #eee;
}








