:root {
  --primary: #895b27;
  --hover: #ffd09a;
  --text: #fff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #0f0f0f;
} 

header {
  /* background-color: #0f0f0f; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 24px;
  /* margin-right: 5px; */
}
.fas
{
  background-color: #333333;
}
.country-code {
  font-size: 12px;
  color: #aaa;
  margin-left: 3px;
}

.center-section {
  display: flex;
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
}

.center-section input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #333;
  background-color: #121212;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}

.search-btn {
  background-color: #222;
  padding: 8px 25px;
  border: 1px solid #333;
  border-left: none;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.mic-btn {
  background-color: #222;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.create-btn {
  background-color: #333;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.notification-icon {
  font-size: 18px;
  cursor: pointer;
}

.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.container
{
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  /* background-color: violet; */
  position: relative;
}
aside
{
  position: absolute;
  width: 17%;
  /* background-color: #aaa; */
  top: 30px;
  left: 0px;
  height: 100%;
}
aside nav ul li
{
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 4;
  padding: 0px 20%;
}
aside nav ul li .fas
{
  font-size: 12px;
  /* background-color: yellow; */
}
aside nav ul li a
{
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding-left: 10px;
  background-color: transparent;

}
aside nav ul li:hover
{
    background-color: #272727;
    /* margin: 0% 10%; */
    border-radius: 10px;
    padding: 0px 20%;
}
.container .maincontent
{ 
  position: absolute;
  width: 83%;
  /* background-color: #aaa; */
  top: 0px;
  left: 17%;
  height: 100%;
  
  /* background-color: aquamarine; */
}
.maincontent .buttons
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.maincontent .buttons a
{
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 8px 15px;
    background-color: #272727;
    border-radius: 10px;
}
.maincard
{
  display: flex;
  flex-direction: row;
  gap: 19px;
  width: 100%;
  flex-wrap: wrap;
}
.maincard .card
{
  flex: 0 0 30%;
  /* height: 100%; */
  margin-top: 20px;
 
  
}
.maincard .card img
{
  width: 100%;
  border-radius: 10px;
}
.carddetail
{
  display: flex;
  flex-direction: row;
}
.carddetail h3
{
  font-size: 16px;
}
.carddetail h4
{
  font-size: 14px;
  font-weight: 500;
}
.carddetail p
{
  font-size: 12px;
  font-weight: 300;
}