:root {
  --primary: #895b27;
  --hover: #ffd09a;
  --text: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.contactus {
  padding: 100px 4% 30px 4%;
}

.contactus h2 {
  font-size: 50px;
  margin-bottom: 40px;
  color: var(--primary);
  text-align: center;
}

.contactwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.contactinfo {
  flex: 1 1 300px;
  font-size: 16px;
  color: #333;
  line-height: 3;

}

.contactform {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactform input,
.contactform textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.contactform .btn {
  background-color: var(--primary);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.5s linear;
}

.contactform .btn:hover {
  background-color: var(--hover);
  color: var(--primary);
}
.testimonials {
  margin-top: 40px;
  padding: 30px 4% 50px 4%;
  background: var(--hover);
  /* text-align: center; */
}

.testimonials h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--primary);
}

.testimonialcards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.testimonialcard {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.testimonialcard p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
}

.testimonialcard h4 {
  font-weight: 600;
  color: var(--primary);
}


@media (max-width: 768px) {

  /* ===== Contact Section ===== */
  /* .contactus {
    padding: 50px 10px 30px 10px;
  } */

  .contactus h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .contactwrapper {
    /* flex-direction: column; */
    gap: 25px;
  }

  .contactinfo {
    font-size: 14px;
    line-height: 2;
    text-align: center;
  }

  .contactform input,
  .contactform textarea {
    font-size: 14px;
    padding: 10px;
  }

  .contactform .btn {
    font-size: 14px;
    padding: 10px;
  }

  /* ===== Testimonials Section ===== */
  .testimonials {
    padding: 30px 10px 40px 10px;
  }

  .testimonials h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }

  .testimonialcards {
    flex-direction: column;
    gap: 20px;
  }

  .testimonialcard {
    flex: 1 1 100%;
    font-size: 14px;
    padding: 15px;
  }

  .testimonialcard p {
    font-size: 14px;
    line-height: 1.5;
  }

  .testimonialcard h4 {
    font-size: 14px;
  }

  /* ===== Map Section ===== */
  .mapsection iframe {
    height: 250px;
  }
}
