:root {
  --primary: #895b27;
  --hover: #ffd09a;
  --text: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.contactus {
  padding: 100px 4% 30px 4%;
  /* background: #f9f9f9; */
  /* text-align: center; */
}

.contactus h2 {
  font-size: 50px;
  margin-bottom: 40px;
  color: var(--primary);
  text-align: center;
}

.contactwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.contactinfo {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; */
  flex: 1 1 300px;
  /* text-align: left; */
  font-size: 16px;
  color: #333;
  line-height: 3;
  /* width: 100%;
  height: 100%; */
}

.contactform {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactform input,
.contactform textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.contactform .btn {
  background-color: var(--primary);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.5s linear;
}

.contactform .btn:hover {
  background-color: var(--hover);
  color: var(--primary);
}
.testimonials {
  margin-top: 40px;
  padding: 30px 4% 50px 4%;
  background: var(--hover);
  /* text-align: center; */
}

.testimonials h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--primary);
}

.testimonialcards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.testimonialcard {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.testimonialcard p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
}

.testimonialcard h4 {
  font-weight: 600;
  color: var(--primary);
}
