:root {
  --primary: #895b27;
  --hover: #ffd09a;
  --text: #fff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  
  
  
}

.banner
{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
  
  
}
.banner img
{
  filter: brightness(0.5);
  width: 100%;
  height: 100%;
 
}
.banner .detail
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: var(--text);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.banner .detail h1
{
  font-size: 65px;
}
.banner .detail p
{
  font-size: 24px;
  padding: 25px 0px;
}
.banner .detail a
{
    padding: 15px 30px;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
}
.banner .detail a:hover
{
  background-color: var(--hover);
  color: var(--primary);
}
.about
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin-bottom: 5px;
}
.aboutdetail, .aboutpic
{
  flex: 1;
}
.about .aboutdetail
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 50px;
}
.about .aboutdetail h2
{
  font-size: 50px;
  color: var(--primary);
}
.about .aboutdetail a
{
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
}
.about .aboutdetail a:hover
{
  background-color: var(--hover);
  color: var(--primary);
}



.about .aboutpic img
{
  flex: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 30px 0px 0px 30px;
}

.services
{

  padding: 15px 50px;
  background: linear-gradient(to bottom, var(--hover), var(--primary));

}
.services h2
{
  font-size: 50px;
  color: var(--primary);
  padding-bottom: 15px;
}
.maincard
{
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.card
{
  flex: 0 0 24%;
  /* border: 1px solid red; */
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.cardpic
{
  background-color: var(--hover);
  width: 100%;
  height: 300px;
  
  
}
.cardpic img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  position: absolute;
  top: 0px;
  left: 0px;

}
.carddetails
{
  position: absolute;
  z-index: 1;
  bottom: -45px;
  left: 0;
  text-align: center;
  padding: 16px 10px;
  color: var(--primary);
  background-color: var(--hover);
  margin-bottom: -10px;
  transition: all 1s linear;
}
.card:hover .carddetails 
{
  bottom: 10px;
  
}
.carddetails p
{
  font-size: 14px;
  padding-top: 10px;
  color: black;
}

.service-marquee {
  background-color: var(--hover);
  color: var(--primary);
  padding: 30px 0;
  font-size: 20px;
  font-weight: 700;
}


.products
{
  padding: 15px 50px;
}
.products h2
{
  font-size: 50px;
  color: var(--primary);
  padding-bottom: 15px;
}
.productmaincard
{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.productcard
{
  flex: 0 0 24%;
  /* border: 1px solid red; */
  /* position: relative; */
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
}
.productcardpic
{
  /* background-color: var(--hover); */
  width: 100%;
  height: 200px;
  
  
}
.productcardpic img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  /* position: absolute; */
  top: 0px;
  left: 0px;

}
.productcarddetails
{
  /* position: absolute; */
  z-index: 1;
  bottom: -45px;
  left: 0;
  text-align: center;
  padding: 10px 0px 25px 0px;
  color: var(--primary);
  /* border: 1px solid var(--primary); */
  /* background-color: var(--hover); */
  margin-bottom: -10px;
  transition: all 1s linear;
}
.productcarddetails p 
{
  padding: 0px 0px 10px 0px;
}


.testimonials {
  margin-top: 40px;
  padding: 30px 4% 50px 4%;
  background: var(--hover);
  /* text-align: center; */
}

.testimonials h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--primary);
}

.testimonialcards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.testimonialcard {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.testimonialcard p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
}

.testimonialcard h4 {
  font-weight: 600;
  color: var(--primary);
}

.contactus {
  padding: 30px 4%;
  /* background: #f9f9f9; */
  /* text-align: center; */
}

.contactus h2 {
  font-size: 50px;
  margin-bottom: 40px;
  color: var(--primary);
}

.contactwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.contactinfo {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; */
  flex: 1 1 300px;
  /* text-align: left; */
  font-size: 16px;
  color: #333;
  line-height: 3;
  /* width: 100%;
  height: 100%; */
}

.contactform {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactform input,
.contactform textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.contactform .btn {
  background-color: var(--primary);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.5s linear;
}

.contactform .btn:hover {
  background-color: var(--hover);
  color: var(--primary);
}
