:root {
  --primary: #895b27;
  --hover: #ffd09a;
  --text: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}


.products
{
  padding: 100px 50px 100px 50px;
}
.products h2
{
  font-size: 50px;
  color: var(--primary);
  padding-bottom: 40px;
  text-align: center;

}
.productmaincard
{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.productcard
{
  flex: 0 0 24%;
  /* border: 1px solid red; */
  /* position: relative; */
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
}
.productcardpic
{
  /* background-color: var(--hover); */
  width: 100%;
  height: 200px;
  
  
}
.productcardpic img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  /* position: absolute; */
  top: 0px;
  left: 0px;

}
.productcarddetails
{
  /* position: absolute; */
  z-index: 1;
  bottom: -45px;
  left: 0;
  text-align: center;
  padding: 10px 0px 25px 0px;
  color: var(--primary);
  /* border: 1px solid var(--primary); */
  /* background-color: var(--hover); */
  margin-bottom: -10px;
  transition: all 1s linear;
}
.productcarddetails p 
{
  padding: 0px 0px 10px 0px;
}


@media (max-width: 768px) {

  .products h2 {
    font-size: 32px;
    padding-bottom: 20px;
  }

  .productmaincard {
    flex-direction: column;
    gap: 20px;
  }

  .productcard {
    flex: 1 1 100%;
    width: 100%;
  }

  .productcardpic {
    height: 180px;
  }

  .productcardpic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .productcarddetails {
    padding: 30px 0;
    bottom: 0;
  }

  .productcarddetails h3 {
    font-size: 18px;
  }

  .productcarddetails p {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .productcarddetails .btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}
