:root {
  --primary: #895b27;
  --hover: #ffd09a;
  --text: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.services
{
  padding: 100px 50px 100px 50px;

}
.services h2
{
  font-size: 50px;
  color: var(--primary);
  padding-bottom: 40px;
  text-align: center;
}
.maincard
{
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.card
{
  flex: 0 0 24%;
  /* border: 1px solid red; */
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.cardpic
{
  background-color: var(--hover);
  width: 100%;
  height: 300px;
  
  
}
.cardpic img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  position: absolute;
  top: 0px;
  left: 0px;

}
.carddetails
{
  position: absolute;
  z-index: 1;
  bottom: -45px;
  left: 0;
  text-align: center;
  padding: 16px 10px;
  color: var(--primary);
  background-color: var(--hover);
  margin-bottom: -10px;
  transition: all 1s linear;
}
.card:hover .carddetails 
{
  bottom: 10px;
  
}
.carddetails p
{
  font-size: 14px;
  padding-top: 10px;
  color: black;
}

.service-marquee {
  background-color: var(--hover);
  color: var(--primary);
  padding: 30px 0;
  font-size: 20px;
  font-weight: 700;
}
