* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #274427;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: violet; */
  /* width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2); */
}
form {
  background-color: #164024;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 0 20px rgba(0, 255, 200, 0.3);
}

form h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: white;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(219, 219, 219);
  color: black;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #00ffd5;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0d7c32;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 30px;
}

button:hover {
  background-color: #1c4e26;
}